/*@import url('https://fonts.googleapis.com/css?family=Orbitron:700');*/
@import url('https://fonts.googleapis.com/css?family=Orbitron');


body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fffff;
    padding: 22px;
    border-bottom: solid #DC7633 5px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2em;
    color: #DC7633;
}